:root {
    --dark-bg: #1F2937;
    --white: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.justify {
    padding-left: 100px;
    padding-right: 100px;
}

/* HEADER */
.header, .hero {
    background-color: var(--dark-bg);
    color: var(--white);


}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    height: 150px;

}

.header__logo img {
    width: 200px;
}

.nav {
    display: flex;
    gap: 1rem;
    padding-right: 20px;
}

.nav__link, li {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}



.hero__texts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    justify-content: center;
    
}


.hero__main-text > h2 {
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.h3, .nav__link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero__button {
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    background-color: #3882F6;
    border-color: #F9FAF8;
    color: #F9FAF8;
    font-size: 1.2rem;
}


.hero__image {
    width: 45%;
    display: flex;
    justify-content: center;

}

.image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url('https://avatars.githubusercontent.com/u/110055852?s=400&u=eb0ebf7bf4ac9f971d3829b3b4edad238935fe36&v=4');
    background-position: center;
    background-size: cover;

}

/* tools */

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #E5E7EB;
    min-height: 300px;
    justify-content: center;
}

.tools__title {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    margin-bottom: 20px;
}

.tools__cards {
    display: flex;
    gap: 1rem;
}

.card {
    width: 150px;
    background-color: #3882F6;
    border: 3px solid darkblue;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.card svg {
    width: 50px;
}

h6 {
    margin: 0;
    padding: 0;
}

/* quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    min-height: 300px;
}

.quote__text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
    margin: 0;
    padding: 0;
}

.quote__autor {
    align-self: flex-end;
    font-size: 20px;
    margin: 0;

}